body {
  font-family: monospace;
  font-size: 16px;
  height: 500px;
  margin: 10px 20px 40px 20px;
}

.big-text {
  font-size: 20px;
}

.small-text {
  margin: 3px 0px;
}

.ari-face {
  border-radius: 20%;
  width: 255px;
  cursor: pointer;
}

.toggle-night-mode {
  float: right;
}

.more-ari {
  float: left;
}

.footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  font-weight: bold;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

