header, body, img, p, h1, h2, h3, a, ul, li {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

/*move anchors below fixed header*/
.anchor {
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
  display: block;
}

header {
  position: fixed;
  top: 0px;
  background: rgba(0, 0, 0, .9);
  color: white;
  width: 100%;
  padding: 10px;
  height: 40px;
  z-index: 100;
}

header .content {
  width: 800px;
  margin: auto;
}

header #nav-links {
  float: right;
}

header #nav-links a {
  float: left;
  padding: 10px 20px;
  border-radius: 5px;
}

header #nav-links a:hover {
  background: #333;
}

header .selected, #nav-links a:hover.selected {
  background: white;
  color: black;
}

header h2 {
  float: left;
  font-size: 30px;
  line-height: 40px;
  cursor: default;
}

#filler {
  height: 60px;
}

.nav-section {
  border-bottom: 2px solid rgba(0,0,0,.5);
}

.nav-section:last-child {
  border: none;
}

section.nav-section .content {
  width: 800px;
  margin: auto;
  padding-bottom: 30px;
}

.content .section-title {
  font-size: 45px;
  text-align: center;
  margin: 25px;
}

.top, #filler {
  background: #ccc;
}

.top {
  padding-top: 30px;
  padding-bottom: 20px;
  color: black;
}

.top a {
  text-decoration: underline;
  color: blue;
}

.top a:visited {
  color: purple;
}

.top img {
  border-radius: 100%;
  float: left;
  width: 220px;
  height: 220px;
  margin-right: 50px;
  margin-bottom: 0px;
}

.top h1 {
  font-size: 55px;
}

.top h2 {
  font-size: 24px;
}

.top p {
  padding: 20px 65px 0px 20px;
}

.skills .icons  {
  margin: auto;
  width: auto;
  padding: 0 25px;
}

.skills img {
  height: 90px;
  margin-bottom: 5px;
  transition: .2s;
}

.skills figure:hover img {
  margin-top: -10px;
  margin-bottom: 15px;
}

.skills figure {
  width: 105px;
  float: left;
  text-align: center;
  margin: 15px 10px;
  font-weight: bold;
}

.project {
  background: #ddd;
  border-radius: 3px;
  margin: 15px 0px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 20px black;
}

.git-project-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.git-project-link img{
  width: 100%;
  opacity: .7;
}

.git-project-link img:hover{
  opacity: 1;
}

.project h2 {
  font-size: 28px;
  font-weight: bold;
  width: auto;
  display: inline-block;
}

.project h3 {
  font-size: 20px;
  margin: 5px 0px;
}

.project .project-icon {
  background: black;
  width: 200px;
  float: left;
  margin-right: 20px;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
}

.project .project-icon:hover {
  box-shadow: 0 0 8px black;
}

.project ul {
  margin-top: 35px;
  margin-left: 20px;
}

.project li {
  margin-bottom: 5px;
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.contact {
  font-size: 18px;
}

.contact img {
  height: 100px;
  margin: 30px;
  opacity: .7;
}

.contact img:hover {
  opacity: 1;
}

.contact .links {
  text-align: center;
}

.contact p {
  text-align: center;
  font-size: 24px;
}

.project::after,
.group::after {
  content: '';
  clear: both;
  display: block;
}

img.arihost {
  height: 0;
  width: 0;
  border: none;
  margin: 0;
  padding: 0;
}
